<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>商品房销售统计信息 - 广州市住房和城乡建设局网站</title>
    <meta name="SiteName" content="广州市住房和城乡建设局网站">
<meta name="SiteDomain" content="zfcj.gz.gov.cn">
<meta name="SiteIDCode" content="4401000085">
<meta name="ColumnName" content="商品房销售统计信息">
<meta name="ColumnDescription" content="商品房销售统计信息展示">
<meta name="ColumnKeywords" content="商品房销售、统计">
<meta name="ColumnType" content="其他">
<meta name="referrer" content="same-origin">
<meta name="Keywords" content="广州市住房和城乡建设局网站",（zfcj.gz.gov.cn）是广州市住房和城乡建设局官方网站。网站由广州市住房和城乡建设局主办，广州市住房城乡建设行业监测与研究中心承办。" />
<meta name="description" content="广州市住房和城乡建设局网站原名&#39;广州城建网&#39;，始建于1996年初，1999年正式在互联网上发布。网站坚持以&#39;深化服务、提高效率和树立形象&#39;为总体目标，随着我国政府网站建设要求的不断提高而不断发展，历经多次改版和调整，网站的内容不断丰富，用户发展为面向所有internet的用户，成为广州市住房和城乡建设局实行政务公开、网上办事、沟通交流的网上平台和宣传住房城乡建设工作的在线窗口。" />
    <script>window.NFCMS_SITE_ID=200028;window.NFCMS_PUB_TYPE="cat";window.NFCMS_CAT_ID="74718";</script><script src="//statistics.gd.gov.cn/scripts/s.js?t=1769506067" async></script>
    <link type="text/css" rel="stylesheet" href="/industry/peskin/css/module.css">
    <link type="text/css" rel="stylesheet" href="/industry/peskin/css/default.css">
    <link type="text/css" rel="stylesheet" href="/industry/peskin/css/page.css">
    <link type="text/css" rel="stylesheet" href="/industry/peskin/css/form.css">
    <link type="text/css" rel="stylesheet" href="/industry/peskin/css/laho-form.css">
    <script type="text/javascript" src="/js/jquery.1.12.4.min.js"></script>
    <script src="/js/share.js"></script>
    <script type="text/javascript" src="/industry/peskin/js/public.js"></script>
    <!--[if lt IE 11]>
    <script src="/industry/peskin/js/console-polyfill.index.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/industry/peskin/js/web-common.js"></script>
<script type="text/javascript" src="/industry/peskin/js/vue.js"></script>
</head>
<body>
    <div id="wrap">
        <!-- header s -->
         <script type="text/javascript" src="/js/marquee.js"></script>
<div id="header" class="header">
	<div class="topBar clearfix">
		<div class="panel">
            <div class="toolBox"  wzades="工具栏服务区" aria-label="您已进入工具栏服务区" altdes="服务区">
                <a onclick="SetHome('http://zfcj.gz.gov.cn/')" href="javascript:;" title="设为首页">设为首页</a>
                <span class="spe">|</span>
                <a onclick="AddFavorite('http://zfcj.gz.gov.cn/','广州市住房和城乡建设局')" href="javascript:;" title="加入收藏">收藏本站</a>
                <span class="spe">|</span>
                <a href="javascript:;" class="popBox icon" id="wx">
                    <span>关注微信</span>
                    <div class="code wecat"><img src="/images/qrcodeWx.png" alt=""></div>
                </a>
                <span class="spe">|</span>
                <a href="http://weibo.com/gzjswb" target="_blank" class="icon" id="wb">政务微博</a>
                <span class="spe">|</span>
                <a href="javascript:;" class="popBox">
                    <span>手机版</span>
                    <div class="code phone"><img src="/images/1576758426.png" alt=""></div>
                </a>
                <span class="spe">|</span>
                <span id="wza" style="cursor: pointer; color:#333">无障碍辅助浏览</span>
                <script src="//service.gd.gov.cn/wza/wza.js?app=zfcj-gz"></script>
                <a class="slh" id="slh">
                    <i></i>长者助手
                </a>
                <script src="//slhsrv.southcn.com/wza/slh.js?app=zfcj.gz.gov.cn" referrerpolicy="origin"></script>
                
            </div>
        </div>
	</div>
    	<h1 id="sjzxLogo"><a href="http://zfcj.gz.gov.cn/zfcj/data">数据中心</a></h1>
    	<script language="javascript" type="text/javascript" src="/industry/peskin/js/marquee.js"></script>
    <!-- 日期公告 S -->
    <div class="noticeDate">
        <div class="boxDate"><span class="dateInfo"></span></div>
        <dl class="boxNotice" wzades="展示温馨提示" aria-label="您已进入温馨提示视窗区" altdes="视窗区">
            <dt class="hd">温馨提示：</dt>
            <dd class="bd" id="marquee">
                <ul class="infoList" id="wxtsList">
                     
                    <li>
                        <a href="http://zfcj.gz.gov.cn/hysjwxts/content/post_10579416.html" target="_blank" title="【视频宣传】购房风险早知道">【视频来啦】购房风险早知道！</a>
                    </li>
                     
                    <li>
                        <a href="http://zfcj.gz.gov.cn/wzts/content/post_8331788.html" target="_blank" title="广州市新建商品房交易事项风险提示">广州市新建商品房交易事项风险提示</a>
                    </li>
                     
                </ul>
            </dd>
        </dl>
    </div> 
    <!-- 日期公告 E -->
  	<script>
  	    RunGLNL(".dateInfo");
  	</script>
</div>
<script type="text/javascript">
    //温馨提示效果
    $("#marquee").Marquee({isEqual: false});
    // IE8 兼容配置 
    window.onload = function () {
        cnillWzaInstance.startInit("//zfcj.gz.gov.cn/js/cnill_polyfill.swf");
    }
    document.getElementById("wza").onclick = function () {
        // 执行实例的init方法 
        cnillWzaInstance.init();
        // cnillWzaInstance为全局变量 
    };
</script>
        <!-- header E -->

        <!-- content S -->
        <div id="content">
           <!-- path S -->
            <div class="path" wzades="展示页面访问路径" aria-label="您已进入页面访问路径导航区" altdes="导航区">
                当前位置：<a href="http://zfcj.gz.gov.cn/">首页</a>&nbsp;&gt;&nbsp;<a href="http://zfcj.gz.gov.cn/zfcj/">行业数据</a>&nbsp;&gt;&nbsp;<a href="http://zfcj.gz.gov.cn/zfcj/ygjy/">阳光家缘</a>&nbsp;&gt;&nbsp;<a href="http://zfcj.gz.gov.cn/zfcj/tjxx/">统计信息</a>&nbsp;&gt;&nbsp;<a href="http://zfcj.gz.gov.cn/zfcj/tjxx/spfxstjxx/">商品房销售统计信息</a> 
            </div>
            <!-- path E -->
            <div class="sider">
                <div id="sideMenuBox" class="sideMenuBox">
    <div class="hd">
        <h3 id="nodeParent"></h3>
    </div>
    <div class="bd">
        <ul class="menuList" id="sideMenuList"></ul>
    </div>
</div>

<script>
    // 父栏目ID & 当前栏目ID
    var nodeParentId = $('#nodeParentId').val() || '74710';
    var curId = $('#curId').val() || '74718';
    
    // 过滤空值（处理可能的空字符串情况）
    nodeParentId = (nodeParentId || '').trim();
    curId = (curId || '').trim();

    // 获取父级栏目信息和其所有子栏目
    var apiNodeUrl = "//zfcj.gz.gov.cn/postmeta/i/";//接口地址
    var nodeParent = $('#nodeParent');
    var sideMenuList = $('#sideMenuList');
    
    if (nodeParentId && nodeParentId != '') {
        $.ajax({
            type: "get",
            url: apiNodeUrl + nodeParentId + '.json',
            dataType: "json",
            success: function (data) {
                var parentInfo = data.category;
                var parentUrl = parentInfo.jump_url === '' ? ('/' + parentInfo.pub_point) : parentInfo.jump_url;
                nodeParent.html(parentInfo.name);
                nodeParent.attr('href',parentUrl);
                var subInfo = data.children;
                var subItems ="";
                for (var i = 0; i < subInfo.length; i++) {
                    var item = subInfo[i];
                    var itemUrl = item.jump_url === '' ? ('/' + item.pub_point) : item.jump_url;
                    if (curId == item.id) {
                        subItems += '<li class="on"><a href="' + itemUrl + '" >' + item.name + '</a></li>';
                    }
                    else{
                        subItems += '<li><a href="' + itemUrl + '" >' + item.name + '</a></li>';
                    }
                }
                sideMenuList.append(subItems);
                //假如没有子栏目隐藏菜单
                if( sideMenuList.length==0 ){ $("#sideMenuBox").hide()}
            }
        });
    }
</script>
            </div>
            <!-- mainContent S -->
            <div class="mainContent" id="mainContent">
                <div class="currentNodeName">
                    <h3>商品房销售统计信息</h3>
                </div>
                <div class="wBd" id="templateContent">
                    <table width="97%" border="0" cellspacing="0" cellpadding="0" style="margin-left: 10px; margin-top: 10px;" class="resultTableD">
                        <tbody id="keshou">
                            <tr class="trhd">
                                <td colspan="9" align="center">每日新建商品房可售信息</td>
                            </tr>
                            <tr class="trhd">
                                <td width="10%" rowspan="2" align="center">行政区</td>
                                <td colspan="2" align="center">住宅</td>
                                <td colspan="2" align="center">商业</td>
                                <td colspan="2" align="center">办公</td>
                                <td colspan="2" align="center">车位</td>
                            </tr>
                            <tr class="trhd">
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                            </tr>
                        </tbody>
                        <tbody v-if="ksItems.loading">
                            <tr><td colspan="8">加载中...</td></tr>
                        </tbody>
                        <tbody v-else>
                            <tr bgcolor="#ffffff" v-for="item,index in ksItems.items.data" :key="index">
                                <td width="10%" class="name" align="center">${item.sectionName}</td>
                                <td width="10%" class="name" align="center">${item.zhuZaiTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.zhuZaiArea)}</td>
                                <td width="10%" class="name" align="center">${item.shangYeTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.shangYeArea)}</td>
                                <td width="10%" class="name" align="center">${item.banGongTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.banGongArea)}</td>
                                <td width="10%" class="name" align="center">${item.cheWeiTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.cheWeiArea)}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="97%" style="margin-left: 10px; margin-top: 10px;">
                        <tbody>
                            <tr>
                                <td width="640">面积单位：平方米</td>
                                <td id='keshou_riqi' width="135" v-if="!ksItems.loading">日期：${formatDate(ksItems.items.data[0].createTime,'yyyy-MM-dd')}</td>
                            </tr>
                            <tr>
                                <td colspan="17">注：本表信息仅限于纳入网上签约管理的数据。可售指纳入预售的项目中可供的销售（签约）的单元，以及已确权可供销售（签约）的单元。</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="97%" border="0" cellspacing="0" cellpadding="0"
                        style="margin-left: 10px; margin-top: 10px;" class="resultTableD">
                        <tbody id='weishou'>
                            <tr class="trhd">
                                <td colspan="9" align="center">每日新建商品房未售信息</td>
                            </tr>
                            <tr class="trhd">
                                <td width="10%" rowspan="2" align="center">行政区</td>
                                <td colspan="2" align="center">住宅</td>
                                <td colspan="2" align="center">商业</td>
                                <td colspan="2" align="center">办公</td>
                                <td colspan="2" align="center">车位</td>
                            </tr>
                            <tr class="trhd">
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                            </tr>					
                        </tbody>
                        <tbody v-if="wsItems.loading">
                            <tr><td colspan="8">加载中...</td></tr>
                        </tbody>
                        <tbody v-else>
                            <tr bgcolor="#ffffff" v-for="item,index in wsItems.items.data" :key="index">
                                <td width="10%" class="name" align="center">${item.sectionName}</td>
                                <td width="10%" class="name" align="center">${item.zhuZaiTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.zhuZaiArea)}</td>
                                <td width="10%" class="name" align="center">${item.shangYeTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.shangYeArea)}</td>
                                <td width="10%" class="name" align="center">${item.banGongTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.banGongArea)}</td>
                                <td width="10%" class="name" align="center">${item.cheWeiTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.cheWeiArea)}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="97%" style="margin-left: 10px; margin-top: 10px;">
                        <tbody>
                            <tr>
                                <td width="638">面积单位：平方米</td>
                                <td id='weishou_riqi' width="135" v-if="!wsItems.loading">日期：${formatDate(wsItems.items.data[0].createTime,'yyyy-MM-dd')}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    注：本表信息仅限于纳入网上签约管理的数据。未售指市场中尚未售出的新建商品房，包括可售、抵押、查封及未纳入预售的单元，不包括回迁房、直管房、自用房、公建配套等单元。
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="97%" border="0" cellspacing="0" cellpadding="0"
                        style="margin-left: 10px; margin-top: 10px;" class="resultTableD">
                        <tbody id='qianyue'>
                            <tr class="trhd">
                                <td colspan="9" align="center">每日新建商品房签约信息</td>
                            </tr>
                            <tr class="trhd">
                                <td width="10%" rowspan="2" align="center">行政区</td>
                                <td colspan="2" align="center">住宅</td>
                                <td colspan="2" align="center">商业</td>
                                <td colspan="2" align="center">办公</td>
                                <td colspan="2" align="center">车位</td>
                            </tr>
                            <tr class="trhd">
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                                <td width="8%" align="center">套数</td>
                                <td width="10%" align="center">面积</td>
                            </tr>
                        </tbody>
                        <tbody v-if="qyItems.loading">
                            <tr><td colspan="8">加载中...</td></tr>
                        </tbody>
                        <tbody v-else>
                            <tr bgcolor="#ffffff" v-for="item,index in qyItems.items.data" :key="index">
                                <td width="10%" class="name" align="center">${item.sectionName}</td>
                                <td width="10%" class="name" align="center">${item.zhuZaiTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.zhuZaiArea)}</td>
                                <td width="10%" class="name" align="center">${item.shangYeTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.shangYeArea)}</td>
                                <td width="10%" class="name" align="center">${item.banGongTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.banGongArea)}</td>
                                <td width="10%" class="name" align="center">${item.cheWeiTaoShu}</td>
                                <td width="10%" class="name" align="center">${toIntegerWithoutRound(item.cheWeiArea)}</td>
                            </tr>
                        </tbody>
                    </table>
                    <table width="97%" style="margin-left: 10px; margin-top: 10px;">
                        <tbody>
                            <tr>
                                <td width="638">面积单位：平方米</td>
                                <td id='qianyue_riqi' width="135" v-if="!qyItems.loading">日期：${formatDate(qyItems.items.data[0].createTime,'yyyy-MM-dd')}</td>
                            </tr>
                            <tr>
                                <td colspan="2">注：本表信息仅限于纳入网上签约管理的数据。</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- mainContent E -->
        </div>
        <!-- content E -->

        <!-- footer S -->
        <script type="text/javascript" src="/js/common.js"></script>
<link href="/css/share.css" rel="stylesheet" />
<script src="/js/qrcode.min.js"></script>
<script src="/js/jquery.share.js"></script>

<div class="quickButton" style="left: 1461.5px;">
    <div class="backTotop gotop" style="display: none;"><a title="返回顶部" href="javascript:void(0);">返回顶部</a></div>
    <div class="share">
        <span><a href="javascript:void(0);">分享页面</a></span>
        <div class="sharebox" id="share">
            <div id="shareButtonBox"></div>
        </div>
    </div>
</div>
<script>
</script>
<div class="footer">
    <div class="panel">
        <div class="footer-menu"  wzades="展示网站底部链接" aria-label="您已进入网站底部链接视窗区" altdes="导航区">
                            <a href="http://zfcj.gz.gov.cn/fzlm/gywz/wzjs/content/post_7823242.html" title="网站介绍">网站介绍</a>
                        &nbsp;|&nbsp;
                            <a href="http://zfcj.gz.gov.cn/fzlm/gywz/wzdt/index.html" title="网站地图">网站地图</a>
                        &nbsp;|&nbsp;
                            <a href="http://zfcj.gz.gov.cn/fzlm/gywz/lxwm/content/post_9764556.html" title="联系我们">联系我们</a>
                        &nbsp;|&nbsp;
                            <a href="http://zfcj.gz.gov.cn/fzlm/gywz/wzsm/content/post_7823272.html" title="网站声明">网站声明</a>
                        &nbsp;|&nbsp;
                            <a href="http://zfcj.gz.gov.cn/fzlm/gywz/sybz/content/post_7808919.html" title="使用帮助">使用帮助</a>
                        &nbsp;|&nbsp;
            <a onclick="SetHome('zfcj.gz.gov.cn')" href="javascript:void(0);" title="设为首页">设为首页</a>
            &nbsp;|&nbsp;
            <a onclick="AddFavorite('zfcj.gz.gov.cn','广州市住房和城乡建设委员会')" href="javascript:void(0);" title="加入收藏">收藏本站</a>
        </div>
        <div class="footer-bqxx" wzades="展示网站标志" aria-label="您进入网站标志视窗区" altdes="视窗区">
            <p><span>主办单位：广州市住房和城乡建设局</span><span>承办单位：广州市住房城乡建设行业监测与研究中心 </span></p>
            <p><span>Copyright © 1996至今</span><span><span>广州市住房城乡建设行业监测与研究中心 保留所有权利</span></p>
            <p><span>网站标识码：4401000085</span><span><a target="_blank" href="http://beian.miit.gov.cn/">工信部备案：粤ICP备09161546号-10</a></span><span><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010402000417"><img alt="" src="/images/ga.png">粤公网安备：44010402000417</a></span></p>
            <p>IE9.0以上版本浏览器 最佳分辨率：1920x1080</p>
            <p><span>总访问量：<script>window.NFCMS_SITE_ID=200028;window.NFCMS_PUB_TYPE="page";window.NFCMS_PAGE_ID="1514";</script><script src="//statistics.gd.gov.cn/scripts/s.js?t=1759134184" async></script><span id="NFCMS-SITE-VISIT-6">-</span><script>setTimeout(function(){var s = document.createElement("script");s.type = "text/javascript";s.src = "//statistics.gd.gov.cn/jsonp/site/sum?site=200028&callback=NFCMS_CB_SITE_VISIT_6&t=" + Math.random().toString(35).substr(2);window.NFCMS_CB_SITE_VISIT_6 = function(data){document.getElementById("NFCMS-SITE-VISIT-6").innerHTML = data.count;document.body.removeChild(s);};document.body.appendChild(s);}, 10);</script>人次</span></p>
        </div>
        <div class="footer-biaoshi">
            <span id="_ideConac">
                <a href="http://bszs.conac.cn/sitename?method=show&id=08CED23F320511E4E053022819ACAF0D" target="_blank">
                    <img id="imgConac" vspace="0" hspace="0" border="0" src="/images/red.png" data-bd-imgshare-binded="1">
                </a>
            </span>
            <script src="/js/web-rectify.js"></script>
            <span class="jiucuo" id="_span_jiucuo" style="margin:0;border:0;cursor: pointer;" onclick="webRectify('4401000085')">
                <img src="/images/jiucuo.png" alt="政府网站找错" />
            </span>
        </div>
    </div>
</div>
<script>
    //分享
    $('#shareButtonBox').share({
        sites: ['qzone', 'wechat', 'weibo'],
        title: $(document.head).find('[name=ArticleTitle]').attr('content') || document.title,
        source: $(document.head).find('[name=SiteName]').attr('content') || document.title,
        image: $('[data-power-area="content"]').find("img").prop('src') || $('img:first').prop('src') || '',
        //微信分享新增参数，以下参数修改后请自行调整share.css对应的样式
        wechatQrcodeDialogId: "share_weixin_qrcode_dialog_qr", //分享到微信的弹窗ID
        wechatQrcodeSize: 200, // 分享到微信的二维码大小
        noTrack: true
    });
    //内容页二维码重新生成
    if (document.getElementById("div_div") && document.getElementById("Canvas")) {
        document.getElementById("Canvas").style.display = "none";
        var qrcode = new QRCode(document.getElementById("div_div"),
            {
                text: window.location.href,
                width: 106,
                height: 106
            });
        //qrcode.makeCode();
    }
    
    //链接重置
    $(".10479").attr("href","/xjsppzystjxx.html");
    $(".10483").attr("href","/spxx_clfjyjl.html");
    $(".10484").attr("href","/spxx_fwzpdj.html");

    // 适老化
    var slh=document.getElementById("slh");
    if(slh){
        document.getElementById("slh").onclick = function() {
            // 执行实例的init方法
            slhInstance.init();  // cnillWzaInstance为全局变量
        }
    }
</script>
        <!-- footer E -->
    </div>
    <script>
        new Vue({
            el: '#templateContent',
            delimiters: ['${', '}'],
            data: function() {
                return {
                    code: '',//验证码
                    ValidateCode: '',
                    //可售信息
                    ksItems:{
                        loading: true,
                        error: null,
                        items:{
                            status: 0,
                            data: [],
                            message: '数据加载中',
                        }
                    },
                    //未售信息
                    wsItems:{
                        loading: true,
                        error: null,
                        items:{
                            status: 0,
                            data: [],
                            message: '数据加载中',
                        }
                    },
                    //签约信息
                    qyItems:{
                        loading: true,
                        error: null,
                        items:{
                            status: 0,
                            data: [],
                            message: '数据加载中',
                        }
                    },
                };
            },
            methods: {
                formatDate:formatDate,
                isEmptyObject: isEmptyObject,
                /**
                 * 截断小数部分，返回整数（不四舍五入）
                 * @param {number|string} num - 原始数值（支持数字/数字字符串）
                 * @returns {number} 处理后的整数
                 */
                toIntegerWithoutRound(num) {
                    var numFloat = Number(num);
                    // 校验是否为有效数字
                    if (isNaN(numFloat)) {
                        return num;
                    }
                    // 直接截断小数部分，返回整数
                    return Math.trunc(numFloat);
                },
                //可售信息数据
                getKsItems: function(){
                    if(!this.ksItems.loading || this.ksItems.items.data.length > 0) return;
                    var that = this;
                    $.ajax({
                        url : '/ysqgk/Api/WebApi/mrxjspfksxx.ashx',
                        type : 'POST',
                        dataType : 'json',
                        success: function(res){
                            that.ksItems.loading = false;
                            that.ksItems.items = res;
                        },
                        error: function(exception) {
                            that.ksItems.error = "请求出错，请刷新重试！";
                            that.ksItems.loading = false;
                        }
                    });
                },
                //未售信息数据
                getWsItems: function(){
                    if(!this.wsItems.loading || this.wsItems.items.data.length > 0) return;
                    var that = this;
                    $.ajax({
                        url : '/ysqgk/Api/WebApi/mrxjspfwsxx.ashx',
                        type : 'POST',
                        dataType : 'json',
                        success: function(res){
                            that.wsItems.loading = false;
                            that.wsItems.items = res;
                        },
                        error: function(exception) {
                            that.wsItems.error = "请求出错，请刷新重试！";
                            that.wsItems.loading = false;
                        }
                    });
                },
                //签约信息数据
                getQyItems: function(){
                    if(!this.qyItems.loading || this.qyItems.items.data.length > 0) return;
                    var that = this;
                    $.ajax({
                        url : '/ysqgk/Api/WebApi/mrxjspfqyxx.ashx',
                        type : 'POST',
                        dataType : 'json',
                        success: function(res){
                            that.qyItems.loading = false;
                            that.qyItems.items = res;
                        },
                        error: function(exception) {
                            that.qyItems.error = "请求出错，请刷新重试！";
                            that.qyItems.loading = false;
                        }
                    });
                },
            },
            created: function() {
                this.getKsItems();
                this.getWsItems();
                this.getQyItems();
            }
        });
    </script>
</body>
</html>
